### IntelliJ IDEA ###
out/
!.idea/src.java/main/**/out/
!.idea/src.java/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!.idea/src.java/main/**/bin/
!.idea/src.java/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

target/
.idea/
*.class